* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Arvo', serif;
}
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #b13a3a;
}

.title {
    /* background-image: url("images/spoons.jpg");
    background-size: cover; */
    margin: 0px auto;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1600px;
    position: relative;
    text-align: center;
    color: white;
}

.title-img {
    width: 100%;
    /* max-height: 800px; */
    object-fit: cover;
    object-position: center;
}

.title-short {
    max-height: 160px;
}

.title-text-tall {
    top: 13%;
}

.title-header {
    position: absolute;
    width: 100%;
    font-size: 8vw;
}

.title-text-short {
    font-size: 12vw;
    align-self: center;
    margin: 0 auto;
}

.home-content {
    max-width: 1600px;
    background-color: #e2e7f5;
    margin: auto;
}

#WhatWeDoText {
    max-width: 654px;
    margin: auto;
}

#cta-button {
    position: absolute;
    top: 60%;
    margin: 1px auto;
}

.row {
    overflow: hidden; 
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.recipe-card {
    height: 95%;
}

.recipe-card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img-top {
    position: absolute;
    height: 100%;
    object-fit: cover;
}

.card-body > .text-wrapper {
    /* height: 5em; */
    font-size: 0.9em;
    margin-bottom: 1em;
}

.rating-button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 1em;
}

.rating-button > p {
    margin: 0;
    font-size: 1.3em;
    margin-left: 1em;
    padding-top: 4px;
}

.thumb-up {
    position: relative;
    top: 3px;
    left: 5px;
}

.recipe-button {
    font-size: 1.1em;;
}

svg {
    margin-bottom: 3px;
}

.container {
    background-color: #e2e7f5;
    padding: 2em;
}
.btn-primary {
    -webkit-appearance: none;
    border: none;
    background-color: #476070;
}

.btn-primary:hover {
    background-color: #1d3645;
}

.btn-primary:active {
    background-color: #476070;
}

.btn-primary:focus {
    background-color: #476070;
}

.btn-success {
    background-color: #74A57F;
    border: 0;
}

.disabled {
    background-color: #476070;
    color: rgb(235, 233, 233);
}

.card-title {
    font-size: 1.7em;
    text-align: center;
}

#WhatWeDo {
    margin: 0px auto;
}

.content {
    flex: 1 0 auto;
}

.footer-container {
    flex-shrink: 0;
    display: flex;
    background-color: #1d3645;
    color: white;
    justify-content: space-around;
    padding: 0.5em;
    align-items: center;
}


.footer-text {
    margin-bottom: 0px !important;
    font-size: 1em;
}

h1 {
    text-align: center;
}

.recipe-container {
    margin: 1em;
    max-width: 1200px;
    margin: auto;
}

.recipe-vid {
    max-width: 100%;
}

.square-img {
    padding-bottom: 100%;
    overflow: hidden; 
    position: relative;
}

.recipe-title > h1 {
    font-size: 2em;
    margin: 1rem;
}

.recipe-subtitle {
    color: gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    font-size: 1.2em;
}

.recipe-body {
    margin: 2em;
}

#instructions-list > li {
    margin-bottom: .5em;
}

.recipe-page {
    background-color: #e2e7f5;
    height: 98%;
}

.recipe-container {
    background-color: white;
    height: 100%;
}

.recipe-ingredients {
    border-bottom: 1px solid #c8c9ca;
    margin-bottom: 1em;
}

.search-form {
    display: flex;
    gap: .4em;
    align-items: center;
}

.locator-buttons {
    display: flex;
    gap: .4em;
}

.search-bar {
    height: 100%;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: #fcf0f0;
}

.locator-container {
    display: flex;
    justify-content: center;
    gap: 0.4em;
    flex-wrap: wrap;
    padding: 1em 0 1em 0;
    background-color: #f1cece;
}

.recipe-tags {
    /* display: flex; */
    /* flex-wrap: wrap; */
    margin: auto;
    /* justify-content: space-evenly; */

    gap: 1em;
}

.tag-content > ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tag-content > ul > li {
    margin: .5em;
    border: 1px solid gray;
    border-radius: 50px;
    padding: .2em .5em .2em .5em;
    background-color: white;

}

.tag-content > ul > li:hover, .tag-content > ul > li:active {
    background-color: #a8b2ce;
    cursor: pointer;
}

.loading-container {
    display: flex;
    justify-content: center;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #1d3645;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}


@media only screen and (min-width: 576px) {
    .recipe-header {
        display: flex;
        width: 100%;

        flex-direction: row-reverse;
    }
    .recipe-container {
        padding-top: 2em;
    }
    .title-container {
        flex-grow: 2;
        flex-direction: column;
        display: flex;
        justify-content: center;
        max-width: 67%;
    }
    .recipe-vid {
        max-width: 33%;
        margin-right: 2em;
        object-fit: cover;
    }
    .recipe-title {
        font-size: 3vw;
    }
    .recipe-subtitle {
        max-width: 100%;
        width: 60vw;
        max-width: 500px;
    }



}

@media only screen and (min-width: 768px) {
    .recipe-body {
        display: flex;
    }
    .recipe-ingredients {
        border-bottom: none;
        margin-bottom: 0;
        padding-right: 20px;
        min-width: 15em;
    }
    .recipe-instructions {
        border-left: 1px solid #c8c9ca;
        padding-left: 20px;
    }
    
    .title-header {
        font-size: 7vw;
    }

    .recipe-title {
        font-size: 2.5vw;
    }

}

@media only screen and (min-width: 577px) and (max-width: 768px) {
    .card-body > .text-wrapper {
        height: 9em;
    }
}

@media only screen and (min-width: 1200px) {
    .recipe-title > h1 {
        font-size: 64px;
    }
    .recipe-ingredients {
        min-width: 20em;
    }
}

@media only screen and (min-width: 1400px) {
    .title-header {
        font-size: 100px;
    }
    .container {
        max-width: 1600px;
    }

    .recipe-subtitle {
        width: 35vw;
    }

}

@media only screen and (min-width: 1600px) {
    .container {
        max-width: 1600px;
    }

}